BCRYPT_SALT_ROUNDS=10
JWT_SECRET=ToChange
JWT_EXPIRATION=15m
DB_HOST=db
DB_PORT=5432
DB_USER=GeoUser
DB_PASSWORD=GeoPassword
DB_NAME=GeoDB
FRONT_ID='http://localhost:5173'
IGN_CACHE_DIR=/usr/src/geoemploi/.cache/ign
IGN_CACHE_TTL_MS=604800000
