
@font-face {
  font-family: "Marianne";
  src: url("./assets/fonts/Marianne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Marianne";
  src: url("./assets/fonts/Marianne-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Spectral", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marianne", sans-serif;
}
